.btn-post ::ng-deep .p-button {
    background: #FD7265;
    border: 1px solid #FD7265;
    width: 92%;
    font-size: 25px;
    border-radius: 12px;
    justify-content: center;
}

@media only screen and (max-width: 400px) {
   .profile-img{
    width: 300px;
    object-fit: contain;
   }
}

.profile-img{
    width: 350px;
    object-fit: contain;
}